---
import Bubbles from "../components/Bubbles";
---

<section class="intro bg-[#2A4C59] h-screen overflow-hidden relative">
  <div class="my-au mx-auto text-center text-white relative z-10">
    <h1 class="text-4xl md:text-9xl">You're Invited</h1>
    <div class="tagline">
      <h2 class="text-xl md:text-3xl uppercase">
        The best legal party in town!
      </h2>
      <p class="text-sm md:text-base">
        A benefit that supports San Diego legal charities
      </p>
    </div>
  </div>
  <Bubbles client:load />
</section>
